/* colore cont */
.container{
  background: pink;
}
/* regole per bordo e alt */
.bordo{
  height: 200px;
  position: relative;
  border: solid 1px black;
}
span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
